.mainContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    place-content: center;
    gap: 1.5rem;
}

.card{
    border-radius: 4px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,0.5);
    padding: 2rem;
    border-color: rgba(246, 246, 246, 0.09);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    color: initial;
    text-decoration: none;

}
.card:hover{
    box-shadow: 0 5px 10px -3px rgba(72, 77, 255, 1);
    transition: 0.2s ease-in;
    color: initial;
    text-decoration: none;
}
.card h1{
    font-size: 18px;
}

.card a {

}